@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Open Sans', sans-serif !important;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
  font-family: 'Poppins', sans-serif !important;
}

.font-300{
  font-weight: 300 !important;
}
.font-400{
  font-weight: 400 !important;
}
.font-500{
  font-weight: 500 !important;
}
.font-600{
  font-weight: 600 !important;
}
.font-700{
  font-weight: 700 !important;
}
.font-800{
  font-weight: 800 !important;
}